.form-container {
    width: 600px;
    margin: 60px auto;
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    background-color: #ffffff;
}


.google-signIn-btn {
    font-size: 25px;
    width: 445px;
    height: 55px;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px;
    border: none;
}


@media only screen and (max-width:564px) {
    .form-container {
        width: 400px;
    }
    .google-signIn-btn {
        font-size: 20px;
        width: 300px;
        height: 30px;
    } 
}