.service-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin: 15px;
}

@media only screen and (max-width:564px) {
    .service-card-container {
        grid-template-columns: repeat(1, 1fr);
    }
}